{% extends "base.html" %}

{% block title %}
    Ответ уже отправлен
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-body p-5 text-center">
                <h1 class="h2">
                    Ответ уже отправлен
                </h1>

                <p class="text-secondary mb-0">
                    С этого устройства уже был отправлен
                    ответ на форму «{{ survey.title }}».
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}